@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Message
@{
    ViewBag.Title = "Create a Message";
}

<h2>Edit a message</h2>

<div asp-validation-summary="ValidationSummary.All"></div>

<form method="post" asp-controller="message" asp-action="edit" asp-antiforgery="true">
    @Html.AntiForgeryToken()
    <label asp-for="MessageTitle"></label>
    <input asp-for="MessageTitle" /><br />
    <label asp-for="MessageContent"></label>
    <input asp-for="MessageContent" /><br />
    <input value= "Edit Msg" type="submit" />
</form>
